HOST= 10b10t.com
PORT= 25565
USERNAME= bot
CRACKED_PASSWORD= yourpass

VERSION= 1.21.11
# authentication method: microsoft, or offline
# only needed for non-cracked servers
# AUTH== microsoft


SHOW_DEBUG_MESSAGES= false
