HOST= 10b10t.com
PORT= 25565
USERNAME= KityBot
CRACKED_PASSWORD= Furry_For_life_2015

VERSION= 1.21.11
# authentication method: microsoft, or offline
# only needed for non-cracked servers
# AUTH== microsoft


SHOW_DEBUG_MESSAGES= false
